@font-face {
    font-family: sf-pro;
    src: url(assets/fonts/SFProDisplay-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: sf-pro;
    src: url(assets/fonts/SFProDisplay-Black.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: sf-pro-rounded;
    src: url(assets/fonts/SFProRounded-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: sf-mono;
    src: url(assets/fonts/SFMono-Heavy.ttf) format("truetype");
    font-weight: 900;
}