<div class="wrapper">
    <div class="card large">
        <i class="subtitle">Dont just take our word for it!</i>
        <div class="title">Read librarian reviews<br> of the R2 Digital Library</div>
        <button class="primary">go to the reviews section</button>
        <div class="controls">
            <button class="primary round">
                <span class="material-icons">
                    chevron_left
                </span>
            </button>
            <button class="primary round">
                <span class="material-icons">
                    chevron_right
                </span>
            </button>
        </div>
        <div class="logo">
            <div class="main">R</div>
            <div class="sub">2</div>
        </div>
    </div>
    <div class="cards">
        <div class="card small dark">
            <div class="title">
                Welcome to the R2 Digital Library
            </div>
            <div class="text">
                The best selection of constantly updated, Health Sciences focused, cross-referenced eContent. Featuring thousands of resources from the leading health sciences publishers—and growing every day.
            </div>
            <button class="secondary">
                Start a free 30-day trial
            </button>
        </div>
        <div class="card small">
            <div class="title">
                Watch a quick demo of the R2 Digital Library in action
            </div>
            <div class="text">
                You'll see how the new version of the R2 Digital Library is a powerful eBook solution for your institution.
            </div>
            <div class="video-preview">
                <img src="assets/images/video-preview.png" alt="">
                <div class="play-wrap">
                    <div class="play">
                        <span class="material-icons">
                            play_arrow
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>