@import 'mixins';

.wrapper {
    padding-top: 80px;
    .cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 20px;
        .right {
            display: flex;
            flex-direction: column;
        }
    }
    .card {
        padding: 60px;
        border-radius: 24px;
        background-color: #fff;
        position: relative;
        margin-bottom: 20px;
        &.large {
            display: flex;
            overflow: hidden;
            .left, .right {
                width: 50%;
                button {
                    margin-top: 20px;
                }
            }
            .subtitle {
                color: $primary;
                font-size: 24px;
                font-weight: 300;
                line-height: 28px;
                margin-bottom: 5px;
            }
            .title {
                width: 50%;
                font-weight: 900;
                font-size: 48px;
                line-height: 54px;
                margin-bottom: 20px;
                color: #000;
                &.full-width {
                    width: 100%;
                }
            }
            .controls {
                position: absolute;
                bottom: 20px;
                right: 20px;
                display: flex;
                button {
                    margin-right: 10px;
                    &:last-child {
                        margin-right: unset;
                    }
                }
            }
            .logo {
                position: absolute;
                top: -135px;
                right: 90px;
                font-family: sf-mono;
                .main {
                    font-size: 200px;
                    color: rgba($darkBackground, .2)
                }
                .sub {
                    position: absolute;
                    bottom: 36px;
                    right: -30px;
                    color: rgba($primary, .2);
                    font-size: 80px;
                }
            }
            .absolute-img {
                border-radius: 24px;
                position: absolute;
                width: 300px;
                height: 300px;
                object-fit: cover;
                right: 50px;
                bottom: -30px;
                box-shadow: 0px 0px 30px 0px rgba(247,193,65,0.9);
            }
            &.column {
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                button {
                    margin-top: 20px;
                }
            }
        }
        &.small {
            display: flex;
            flex-direction: column;
            .title {
                font-size: 14px;
                color: $primary;
                margin-bottom: 10px;
            }
            .text {
                font-size: 18px;
                line-height: 24px;
            }
            button {
                margin-top: 40px;
            }
            .video-preview {
                position: absolute;
                bottom: 20px;
                right: 20px;
                border-radius: 10px;
                align-self: flex-end;
                width: 50%;
                overflow: hidden;
                box-shadow: 0px 10px 28px 0px rgba($primary,0.6);
                transition: .4s ease-in-out;
                .play-wrap {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, .2);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    .play {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        background-color: #fff;
                        border-radius: 50%;
                        transition: .4s ease-in-out;
                        span {
                            transition: .4s ease-in-out;
                        }
                    }
                    &:hover {
                        .play {
                            width: 100%;
                            height: 100%;
                            span {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
                &:hover {
                    transform: translate(6px, 6px);
                    box-shadow: 0px 5px 14px 0px rgba($primary,0.6);
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    background-color: rgba($primary, .7);
                }
            }
        }
        &.dark {
            background-color: $darkBackground;
            .title {
                color: $secondary;
            }
            .text {
                color: #fff;
            }
        }
        &.benefit {
            span {
                font-size: 48px;
            }
            .text {
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
                color: #3d3d3d;
            }
            &:nth-child(1) {
                span {
                    color: #D10014;
                }
            }
            &:nth-child(2) {
                span {
                    color: #4991E3;
                }
            }
            &:nth-child(3) {
                span {
                    color: #95CD20;
                }
            }
            &:nth-child(4) {
                span {
                    color: #F5A81E;
                }
            }
        }
    }
    .info {
        border-radius: 24px;
        padding: 12px 24px;
        background-color: $primary;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        color: #F4F5F7;
        font-weight: 500;
        box-shadow: 0px 10px 20px 0px rgba(208,2,27,0.3);
        span {
            font-size: 36px;
            margin-right: 15px;
            color: #fff;
        }
    }
}

@include media-lg {
    .wrapper {
        padding-top: 60px;
        .card {
            padding: 50px;
            &.large {
                .subtitle {
                    font-size: 18px;
                    line-height: 24px;
                }
                .title {
                    width: 50%;
                    font-size: 36px;
                    line-height: 44px;
                }
            }
        }
    }
}

@include media-md {
    .wrapper {
        padding-top: 40px;
        .cards {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        .card {
            padding: 40px;
            &.large {
                flex-direction: column;
                .left, .right {
                    width: 100%;
                }
                .title {
                    width: 100%;
                }
                .controls {
                    align-self: flex-end;
                    position: relative;
                    right: 0;
                    bottom: 0;
                }
                .absolute-img {
                    display: none;
                }
            }
            &.small {
                .video-preview {
                    position: relative;
                    right: unset;
                    bottom: unset;
                }
            }
        }
    }
}

@include media-md {
    .wrapper {
        padding-top: 30px;
        .card {
            padding: 30px;
        }
    }
}

@include media-sm {
    .wrapper {
        padding-top: 20px;
        .card {
            padding: 20px;
            &.large {
                .logo {
                    right: 40px;
                }
            }
        }
    }
}