<app-book-reading-header></app-book-reading-header>
<div class="wrapper">
    <div class="card">
        <div class="left">
            <div class="title">
                Coronavirus Disease 2019 (COVID-19)
            </div>
            <div class="subtitle">
                Chapter 11: Prevention and Control Strategies for SARS-CoV-2 Infection
            </div>
            <span class="material-icons arrow">
                arrow_downward
            </span>
            <div class="chapter">
                11.1 Introduction
            </div>
        </div>
        <div class="right">
            <img src="https://i.pinimg.com/originals/91/17/2b/91172b6de3c8ce5813bc70070f9c5366.jpg" alt="">
        </div>
    </div>
    <div class="paragraph">
        <p>
            The SARS-COV 2 or COVID-19 is emerged as global pandemic declared by the WHO with 184,976 reported cases across
            159 countries until March 18, 2020 and accounts for 7529 deaths globally (WHO). The severity of COVID-19 can be
            easily understood by the exponentially increasing cases worldwide. The virus affects respiratory system like
            other influenza viruses and appears as a major threat throughout the world after 1918 Spanish flu (H1N1)
            outbreak. COVID-19 is one of the highly infectious diseases with the ability to affect a large population
            globally and can cause severe impact on socioeconomic stability of the world. The emergence of SARS-CoV traces
            back to year 2003 from China, and again another mutant emerged in 2012 known as MERS from Saudi Arabia. All the
            three highly infectious strains of CoV are found to be zoonotic and transmitted from animals to people.
        </p>
    </div>
    <div class="paragraph">
        <p>
            The SARS-CoV-2 is also believed to be spread from fish market of Wuhan China in November 2019 and was first
            reported in the last week of December 2019 in 59 people at Wuhan, Hubei, China. The strain was completely novel
            and unknown to scientific fraternity at the time of its outbreak. The novel coronavirus or COVID-19 is highly
            infectious and spread so fast through people-to-people contact. The emergence and re-emergence of zoonotic viral
            strains pose immense threat to the human population and need to addressed strategically with rapid response
            (Menachery et al. 2018). The SARS-CoV-2 is a novel coronavirus and is classified into virus family of
            Coronaviridae. Coronaviruses belong to large Coronaviridae family of viruses causing infection leads from common
            cold to severe illness and respiratory diseases. As per the studies conducted by various research groups
            worldwide, the COVID-19 genome is in close similarity with bat coronavirus, and it belongs to beta coronavirus
            group of Coronaviridae family. The brief classification of the SARS-CoV-2 is depicted in Fig. 11.1 (Tekes and
            Thiel 2016; Ashour et al. 2020), and some of the major human illnesses causing CoVs are given in Table 11.1.
        </p>
    </div>
    <div class="paragraph">
        <div class="img-wrap">
            <img src="https://iris.iom.int/sites/default/files/Model.jpg" alt="">
            <div class="title">
                Fig. 11.1 Classification of SARS-CoV-2
            </div>
        </div>
        <p>
            The emergence of COVID-19 has drawn very much attention of researchers and health professionals because of its
            high infection potential and novel structure. Researchers found the stability of SARS-CoV-2 on various surfaces
            and compared the same with SARS-CoV-1. The experimental data under varied circumstances on different surfaces
            are found to be similar for both the strains (van Doremalen et al. 2020). The experimental observation shows
            that alterations in the epidemiologic characteristics of both the viruses may arise due to other reasons. The
            high viral concentration in the upper respiratory tract in the patient and the potential of COVID-19-infected
            individual to carry and spread the virus while being in asymptomatic condition are some probable reasons for
            high infection rate, making its control challenging (Bai et al. 2020; Zou et al. 2020).
        </p>
    </div>
    <div class="paragraph">
        <p>
            COVID-19 is a single-stranded (ss) RNA virus consisting of 26–36 kb positive sense RNA genome. The complete
            virus particle is made up of four major structural proteins, namely spikes (S), nucleocapsid (N), membrane (M),
            and envelope (E) encoded by virus genome (Forni et al. 2017). The size of SARS-CoV-2-encoded proteins shows
            similarity to bat SARS-CoV. The important difference is longer length and structure of S protein of SARS-CoV-2
            in comparison to SARS-CoV and bat SARS-CoV observed by researchers. These S proteins are very crucial for
            receptor binding, membrane fusion, internalization of the SARS-CoV-2, tissue tropism, and host array. This S
            protein may be utilized as vital target for vaccine development (Menachery et al. 2016; Ji et al. 2020; Kumar et
            al. 2020).
        </p>
    </div>
    
    <div class="collapse">
        <div class="head">
            <div class="left">
                <div class="title">
                    Table 11.1
                </div>
                <div class="subtitle">
                    Coronaviruses causing infection in humans
                </div>
            </div>
            <div class="right">
                <div class="text">
                    expand
                </div>
                <button class="primary round">
                    <span class="material-icons">
                        expand_more
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="paragraph">
        <p>
            Extensive efforts are already taken to control COVID-19 spread and for the development of effective vaccines
            around the world. Scientists are working round the clock individually and in collaboration to get some effective
            solution for the severe pandemic occurred by COVID-19. The COVID-19 outbreak can be reduced and controlled only
            by maintaining self-hygiene, social distancing, and strong immunity until any vaccine or effective medication is
            found. The present chapter provides an insight into the prevention and control strategies for COVID-19 including
            vaccine development and control measures.
        </p>
    </div>
</div>