<div class="wrapper">
    <div class="content-center body">
        <div class="left">
            <div class="item">
                <span class="material-icons">
                    insert_drive_file
                </span>
                <div class="text">
                    Browse or Search this Title
                </div>
            </div>
            <div class="item">
                <span class="material-icons">
                    topic
                </span>
                <div class="text">
                    Topics
                </div>
            </div>
            <div class="item">
                <span class="material-icons">
                    layers
                </span>
                <div class="text">
                    Tools
                </div>
            </div>
        </div>
        <div class="controls">
            <button class="primary round">
                <span class="material-icons-outlined">
                    chevron_left
                </span>
            </button>
            <button class="primary round">
                <span class="material-icons-outlined">
                    chevron_right
                </span>
            </button>
        </div>
    </div>
</div>