@import 'index';

body {
    font-family: 'sf-pro';
}

.content-center {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: content-box;
}