<div class="wrapper">
    <div class="title">
        Coronavirus Disease 2019 (COVID-19)
    </div>
    <div class="subtitle">
        Epidemiology, Pathogenesis, Diagnosis, and Therapeutics
    </div>
    <div class="card">
        <div class="left">
            <div class="info">
                <div class="info-title">
                    Author
                </div>
                <div class="value">
                    Shailendra Saxena
                </div>
            </div>
            <div class="info">
                <div class="info-title">
                    Publisher
                </div>
                <div class="value">
                    Springer Nature (2020)
                </div>
            </div>
            <p class="description">
                This book provides a comprehensive overview of recent novel coronavirus (SARS-CoV-2) infection, their
                biology and associated challenges for their treatment and prevention of novel Coronavirus Disease 2019
                (COVID-19). Discussing various aspects of COVID-19 infection, including global epidemiology, genome...
            </p>
            <button class="primary round" [routerLink]="'/book-reading'">
                <span class="material-icons">
                    more_horiz
                </span>
            </button>
        </div>
        <div class="right">
            <img src="https://i.pinimg.com/originals/91/17/2b/91172b6de3c8ce5813bc70070f9c5366.jpg" alt="">
        </div>
    </div>
    <div class="book-data">
        <div class="item">
            ISBN 10: 9811548137
        </div>
        <div class="item">
            ISBN 13: 9789811548130
        </div>
        <div class="item">
            eISBN: 9789811548147
        </div>
        <div class="item">
            Edition: 1st
        </div>
    </div>
    <app-carousel [title]="'Related'"></app-carousel>
</div>